.ui-autocomplete-loading {
    background: white url("../gifs/ui-anim_basic_16x16.gif") right center no-repeat;
}

.navbar {
    background-color: orange;
}

.card {
    max-width: 245px;
    max-height: 400px;
}