@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url(https://fonts.googleapis.com/css?family=Vidaloka|Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Cabin:400);

/* <!-- Navigation Template Start --> */
body {
    margin: 0;
}
#container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
#user-info {
    border: 1px solid #CCC;
    clear: both;
    margin: 0 auto 20px;
    max-width: 400px;
    padding: 10px;
    text-align: left;
}
#photo-container {
    background-color: #EEE;
    border: 1px solid #CCC;
    float: left;
    height: 80px;
    margin-right: 10px;
    width: 80px;
}
#photo {
    height: 80px;
    margin: 0;
    width: 80px;
}
@media (max-width: 300px) {
    #photo-container,
    #photo {
        height: 40px;
        width: 40px;
    }
}
.fa-2x {
    font-size: 2em;
}
.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
}
.main-menu:hover,nav.main-menu.expanded {
    width:250px;
    overflow:visible;
}
.main-menu {
    background:#2e383f;
    border-right:1px solid #181d21;
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:60px;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
}
.main-menu>ul {
    margin:7px 0;
}
.main-menu li {
    position:relative;
    display:block;
    width:250px;
}
.main-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#f9a828;
    font-family: arial, serif;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
}
.main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}
.main-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
}
.main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}
.main-menu>ul.login {
    position:absolute;
    left:0;
    bottom:0;
}
.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}
a:hover,a:focus {
    text-decoration:none;
}
nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}
nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#ececeb;
    background-color:#07617d;
}
.area {
    float: left;
    background: #1d2327;
    width: 20%;
    height: 100%;
}
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    color:#f9a828;
}
.clearfix {
    clear: both;
}
.hidden {
    display: none;
}
#user-info {
    border: 1px solid #CCC;
    clear: both;
    margin: 0 auto 20px;
    max-width: 400px;
    padding: 10px;
    text-align: left;
}
#photo-container {
    background-color: #EEE;
    border: 1px solid #CCC;
    float: left;
    height: 80px;
    margin-right: 10px;
    width: 80px;
}
#photo {
    height: 80px;
    margin: 0;
    width: 80px;
}
@media (max-width: 300px) {
    #photo-container,
    #photo {
        height: 40px;
        width: 40px;
    }
}
/* <!-- Navigation Template End --> */


/* <!-- Card Template Start --> */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    transition: 0.2s;
}
body {
    background: linear-gradient(to right, #181d21, #2e383f);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    letter-spacing: .03em;
}

a {
    text-decoration: none;
}
i {
    letter-spacing: 0;
}
.item {
    width: 400px;
    height: 500px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 10px;
}

.item .img {
    width: 100%;
    height: 50%;
    background: black;
    border-radius: 10px 10px 0 0;
    position: absolute;
    z-index: 5;
    overflow: hidden;
}

.item .img-content {
    width: 100%;
    height: 100%;
    transition-duration: 0ms !important;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.item.showfull .text-container {
    height: 90%;
}
.item.showfull .content {
    height: 78%;
}
.item.showfull .social {
    top: 25px;
}
.item.showfull .img-content {
    transform: scale(1.04);
    filter: blur(5px);
}
.item.showfull .like {
    margin-top: 100px;
}
.item .text-container {
    width: 100%;
    height: 55%;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: 10;
    box-shadow: -3px -10px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}
.item .content {
    height: 63%;
    margin-bottom: 10px;
    overflow: hidden;
}
.item .social {
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 15;
    top: 40%;
    display: flex;
    justify-content: flex-end;
}
.item h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.item .social div {
    width: 50px;
    height: 50px;
    background: green;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.item .social div:hover {
    transform: scale(1.1);
}
.item .social a:last-child {
    margin-right: 20px;
}
.item a .tw {
    background-color: #0084b4;
}
.item a .fb {
    background-color: #3b5998;
}
.item a .ig {
    background-color: #cd486b;
}
.item .readmore {
    display: flex;
    padding-bottom: 5px;
}
.item .readmore h3 {
    display: block;
    padding: 10px 15px;
    border-radius: 40px;
    border: 1px solid;
    cursor: pointer;
    font-size: 10px;
    margin-bottom: 5px;
}
.item .readmore h4 {
    display: block;
    padding: 10px 15px;
    border-radius: 40px;
    border: 1px solid;
    cursor: pointer;
    font-size: 10px;
    margin-bottom: 5px;
}
/* <!-- Card Template End --> */



/* <!-- Profile Template Start --> */
input[type=text], input[type=email] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #465661;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
button {
    background-color: #4CAF50;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.container-profile {
    padding: 16px;
}
.editbtn, .returnbtn {
    float: left;
    width: 50%;
}
.returnbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

#profile-form fieldset {
    background: #2e383f;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
}
/* <!-- Profile Template End --> */


/* <!-- Pantry Start --> */
.ui-autocomplete-loading {
    background: white url("../gifs/ui-anim_basic_16x16.gif") right center no-repeat;
}

.navbar {
    background-color: orange;
}

.pantry {
    position: absolute;
}

#pantry-form fieldset {
    background: #2e383f;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
}
/* <!-- Pantry End --> */


/* <!-- Search Bar Start --> */
.webdesigntuts-workshop {
    background: #151515;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
}

.webdesigntuts-workshop:before,
.webdesigntuts-workshop:after {
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    margin: 0 0 0 -400px;
    position: absolute;
    width: 800px;
}

.webdesigntuts-workshop:before {
    background: #444;
    background: linear-gradient(left, #151515, #444, #151515);
    top: 192px;
}

.webdesigntuts-workshop:after {
    background: #000;
    background: linear-gradient(left, #151515, #000, #151515);
    top: 191px;
}

.webdesigntuts-workshop form {
    background: #111;
    background: linear-gradient(#1b1b1b, #111);
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #272727;
    display: inline-block;
    font-size: 0px;
    margin: 150px auto 0;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.webdesigntuts-workshop input {
    background: #222;
    background: linear-gradient(#333, #222);
    border: 1px solid #444;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    text-shadow: 0 -1px 0 #000;
    width: 200px;
}

.ie .webdesigntuts-workshop input {
    line-height: 40px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
    color: #888;
}

.webdesigntuts-workshop input:-moz-placeholder {
    color: #888;
}

.webdesigntuts-workshop input:focus {
    animation: glow 800ms ease-out infinite alternate;
    background: #222922;
    background: linear-gradient(#333933, #222922);
    border-color: #393;
    box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    color: #efe;
    outline: none;
}

.webdesigntuts-workshop input:focus::-webkit-input-placeholder {
    color: #efe;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
    color: #efe;
}

.webdesigntuts-workshop button {
    background: #222;
    background: linear-gradient(#333, #222);
    box-sizing: border-box;
    border: 1px solid #444;
    border-left-color: #000;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 2px 0 #000;
    color: #fff;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 80px;
}

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    color: #5f5;
    outline: none;
}

.webdesigntuts-workshop button:active {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 1px;
}

@keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

/* <!-- Search Bar End --> */


input {
    border: 1px solid #ccc;
    font-size: 12px;
    height: 30px;
    padding: 4px 8px;
    position: absolute;
    width: 50%;
}
input:focus {
    outline: none;
}

button {
    text-align: center;
}
button:focus {
    outline: none;
}
button.btn-search, button.btn-reset {
    background: hotpink;
    border: none;
    height: 30px;
    font-size: 12px;
    padding: 4px;
    position: absolute;
    width: 30px;
}

.sample {
    float: left;
    height: 50px;
    margin: 0 8%;
    position: relative;
    width: 34%;
}
.sample.three {
    perspective: 400px;
}
.sample.three input {
    width: 120px;
}
.sample.three input:focus ~ button.btn-search {
    transform: rotateY(180deg);
    transition: transform 0.6s ease-in-out 0.2s;
}
.sample.three input:focus ~ button.btn-reset {
    transform: rotateX(0deg) translateY(32px) translateX(2px);
    transition: transform 0.6s ease-in-out 0.8s;
}
.sample.three button.btn-search {
    backface-visibility: visible;
    color: #fff;
    padding: 0;
    position: relative;
    transform: rotateY(0deg);
    transform-origin: 121px 0;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out 0.2s;
    width: 120px;
}
.sample.three button.btn-reset {
    backface-visibility: hidden;
    background: #ccc;
    transform: rotateX(-180deg) translateY(30px) translateX(2px);
    transform-origin: 0 32px;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out 0.2s;
    width: 120px;
}
@keyframes bounceRight {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes jumpTowardSearch {
    0% {
        background: #ccc;
        opacity: 1;
        transform: rotateZ(0deg) scale(1);
    }
    20% {
        background: #ccc;
        opacity: 0;
        transform: rotateZ(-60deg) scale(50);
    }
    55% {
        background: hotpink;
        opacity: 0;
        transform: rotateZ(-30deg) scale(100);
    }
    90% {
        background: hotpink;
        opacity: 0;
        transform: rotateZ(-30deg) scale(50);
    }
    100% {
        background: hotpink;
        opacity: 1;
        transform: rotateZ(0deg) scale(1);
    }
}
@keyframes jumpTowardReset {
    0% {
        opacity: 0;
        transform: rotateZ(0deg) scale(1);
    }
    20% {
        opacity: 0;
        transform: rotateZ(-60deg) scale(50);
    }
    55% {
        opacity: 0;
        transform: rotateZ(-30deg) scale(100);
    }
    90% {
        opacity: 0;
        transform: rotateZ(-30deg) scale(50);
    }
    100% {
        opacity: 1;
        transform: rotateZ(0deg) scale(1);
    }
}