<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>GRAP</title>
    <!-- Navigation Icons -->
    <script src="https://kit.fontawesome.com/dd34a0058a.js" crossorigin="anonymous"></script>

    <!-- Local CSS -->
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/navbar.css">

    <!-- jquery, must come before bootstrap. This is styling for autocomplete. -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Bootstrap latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

    <!-- bxslider -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

    <!-- Slick Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.css" />


<script type="module" src="../javascript/init-firebase.js"></script>



<div th:replace="/sidenav :: navbar"></div>

<input type="radio" checked id="toggle--signup" name="toggle" class="ghost" />
<input type="radio" checked id="toggle--login" name="toggle" class="ghost" />

<form class="form form--login framed">
    <input type="email" placeholder="Email" class="input input--top" id="emailExistingUser" />
    <input type="password" placeholder="Password" class="input" id="passwordExistingUser"/>
    <input type="button" value="Log in" class="input input--submit" id="btnLogin"/>

    <!-- <label for="toggle--forgot" class="text text--small text--centered"><b>Forgot password? </b></label> -->
    <label for="toggle--signup" class="text text--small text--centered">New? <b>Sign up</b></label>
</form>

<form class="form form--signup framed">
    <h2 class="text text--centered text--omega">This can be anything <b>we want</b> lorem </br>ipsom.</h2>
    <input type="email" placeholder="Email" class="input input--top" id="emailNewUser"/>
    <input type="password" placeholder="Password" class="input" id="passwordNewUser"/>
    <input type="text" placeholder="Username" class="input" id="usernameNewUser"/>
    <input type="button" value="Sign up" class="input input--submit btnSignUp" id="btnSignUp"/>
    <label for="toggle--login" class="text text--small text--centered">Not new? <b>Log in</b></label>
</form>

<div class="fullscreen-bg"></div>
<script type="module" src="../javascript/common.js"></script>
<script type="module" src="../javascript/login.js"></script>
<script type="text/javascript"></script>
</body>
</html>