<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta charset="ISO-8859-1"/>
    <title>Pantry</title>

    <!-- Navigation Icons -->
    <script src="https://kit.fontawesome.com/dd34a0058a.js" crossorigin="anonymous"></script>

    <!-- Local CSS -->
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/autocomplete.css">

    <!-- jquery, must come before bootstrap. This is styling for autocomplete. -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- bxslider -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

    <!-- Slick Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" />

    <!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-app.js"></script>
    <!-- Add additional services you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-functions.js"></script>

    <!-- jquery, must come before bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- jquery, must come before bootstrap. This is for autocomplete. -->
    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <!-- Bootstrap latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

    <!-- Slick Carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <!-- bxslider -->
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <!-- Local Javascript -->
    <script src="../../javascript/topics.js"></script>


</head>
<body>

<div th:replace="/sidenav :: navbar"></div>

<div class="container">
    <div class="slider rel">

            <!--This saves or updates a pantry item-->
            <div id="up">
                <div class="row">
                    <div class="col-md-12">
                        <form action="/userHome/pantry/saveCategory" method="post">
                            <h1> Add Pantry Item </h1>
                            <fieldset>
                                <label for="category">Category:</label>
                                <input type="text" id="category" name="pantryId" >
                                <label for="name">Name:</label>
                                <input type="text" id="name" name="name">
                                <label for="quantity">Quantity:</label>
                                <input type="text" id="quantity" name="quantity">
                                <label for="measurement">Measurement:</label>
                                <input type="text" id="measurement" name="measurement">
                            </fieldset>
                            <button class="saveBtn" type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>

            <!--This deletes an existing pantry item-->
            <div id="del">
                <div th:each="pantry : ${pantries}">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="/userHome/pantry/deleteCategory" method="post">
                                <h1> Delete Pantry Item </h1>
                                <fieldset>
                                    <label for="id">ID:</label>
                                    <input type="text" id="id" name="pantryId" th:value="${pantry.id}">
                                    <label for="named">Name:</label>
                                    <input type="text" id="named" name="user_name" th:value="${pantry.name}">
                                    <label for="quantityd">Quantity:</label>
                                    <input type="text" id="quantityd" name="quantity" th:value="${pantry.quantity}">
                                    <label for="measurementd">Measurement:</label>
                                    <input type="text" id="measurementd" name="measurement" th:value="${pantry.measurement}">
                                </fieldset>
                                <button class="deleteBtn" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <!--This displays the existing pantry items-->
    <div class="rel set">
        <div id="bxslider1" class="card-deck m-auto">
            <div class="card" th:each="pantry : ${pantries}">
                <div class="card-body">
                    <div th:text="'Name: ' + ${pantry.name}"></div>
                    <div th:text="'Quantity: ' + ${pantry.quantity}"></div>
                    <div th:text="'Measurement: ' + ${pantry.measurement}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fullscreen-bg"></div>


</body>
</html>