<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta charset="ISO-8859-1"/>
        <title>Recipes</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/sunny/jquery-ui.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="../css/recipes.css">
        <link rel="stylesheet" href="../css/grap.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
        <script src="../javascript/recipes.js"></script>
        <script src="../javascript/grap.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-light" style="background-color: orange;">
            <h1>GRAP</h1>
            <form class="form-inline" action="#" th:action="@{/searchRecipes}" method="GET">
                <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search" aria-label="Search" name="searchTerm">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search </button>
            </form>
        </nav><br/>

        <div class="card" style="max-width: 245px; max-height: 400px;" th:each="recipe : ${recipes}">
            <div class="card-header" th:text="${recipe.label}">
            </div>
            <div class="card-body">
                <div th:text="${recipe.calories}">Calories: </div>
                <img class="image" th:src="@{${recipe.image}}">
            </div>
        </div>
    </body>
</html>