<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta charset="ISO-8859-1"/>
        <title>Recipes</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/sunny/jquery-ui.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="../css/recipes.css">
        <link rel="stylesheet" href="../css/grap.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
        <script src="../javascript/recipes.js"></script>
        <script src="../javascript/grap.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-light" style="background-color: orange;">
            <h1>GRAP</h1>
            <form class="form-inline" action="#" th:action="@{/searchRecipes}" method="GET">
                <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search" aria-label="Search" name="searchTerm">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search </button>
            </form>
        </nav><br/>

        <div class="container">
            <h2>Meals</h2>
            <div id="bxslider1" class="card-deck m-auto">
                <div class="card">
                    <div class="card-header">Breakfast</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/breakfast.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Lunch</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/lunch.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Dinner</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/dinner.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Snack</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/snack.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Teatime</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/teatime.jpg?tr=w-640,h-480">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>Dishes</h2>
            <div id="bxslider2" class="card-deck m-auto">
                <div class="card">
                    <div class="card-header">Alcohol</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/alcohol.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Biscuits and Cookies</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/biscuitsAndCookies.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Bread</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/bread.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Cereals</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/cereal.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Drinks</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/drinks.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Desserts</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/desserts.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Egg</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/egg.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Main course</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/mainCourse.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Omelet</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/omelet.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Pancake</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/pancake.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Preps</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/preps.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Preserve</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/preserves.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Salad</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/salad.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Sandwiches</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/sandwich.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Soup</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/soup.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Starter</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/starter.jpg?tr=w-640,h-480">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>Cuisines</h2>
            <div id="bxslider3" class="card-deck m-auto">
                <div class="card">
                    <div class="card-header">American</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/americanCuisine.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Asian</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/asianCuisine.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">British</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/british.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Caribbean</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/caribbean.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Central Europe</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/centralEuropean.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Chinese</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/chinese.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Eastern Europe</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/easternEuropean.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">French</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/french.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Indian</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/indian.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Italian</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/italian.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Japanese</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/japanese.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Kosher</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/kosher.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Mediterranean</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/mediterranean.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Mexican</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/mexican.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Middle Eastern</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/middleEastern.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Nordic</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/nordic.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">South American</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/southAmerican.jpg?tr=w-640,h-480">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">South East Asian</div>
                    <div class="card-body">
                        <img class="image" src="https://ik.imagekit.io/rzvkccjocg/southeastAsian.jpg?tr=w-640,h-480">
                    </div>
                </div>
            </div>
        </div>

<!--        <div class="container">-->
<!--            <div id="bxslider4" class="card-deck m-auto">-->
<!--                <div class="card" th:each="recipe : ${recipes}">-->
<!--                    <div class="card-header" th:text="${recipe.label}"></div>-->
<!--                    <div class="card-body">-->
<!--                        <img class="image" th:src="@{${recipe.image}}">-->
<!--                    </div>-->
<!--                    <div class="card-footer" th:text="@{${'Calories: ' + recipe.calories}}"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </body>
</html>