<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta charset="ISO-8859-1"/>
    <title>Pantry</title>

    <!-- Local CSS -->
    <link rel="stylesheet" href="../../css/grap.css">

    <!-- jquery, must come before bootstrap. This is styling for autocomplete. -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- bxslider -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

    <!-- Slick Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" />

    <!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-app.js"></script>
    <!-- Add additional services you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-functions.js"></script>

    <!-- jquery, must come before bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- jquery, must come before bootstrap. This is for autocomplete. -->
    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <!-- Bootstrap latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

    <!-- Slick Carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <!-- bxslider -->
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <!-- Local Javascript -->
    <script src="../../javascript/topics.js"></script>
    <script src="../../javascript/grap.js"></script>
    <script src="../../javascript/RJPantry.js"></script>

</head>
<body>

<div th:replace="/topnav :: navbar"></div>

<form action="/action_page.php" >
    <label for = "quantity"><b>Quantity</b></label>
    <input type = "number" id = "quantity" name = "quantity" min = "0" step = "1"> <br> <br>

    <label for = "name"><b>Name</b></label>
    <input type = "text" id = "name" name = "name">
    <br> <br>

    <label for = "measurement"><b>Measurement</b></label>
    <input type = "double" id = "measurement" name = "measurement">

    <select name="weight" id="weight">
        <option value="kg">kg</option>
        <option value="gm">gm</option>
        <option value="pound">pound</option>
        <option value="ounce">ounce</option>
        <option value="litre">litre</option>
    </select>
    <br> <br>
</form>
<!--    <input type = "Submit" value = "Submit">-->
<!--    <input id="someInput" type="text">-->
<!--    <input type="button" value="Say Hello" onClick="doStuff()">-->


    <div class="list-group-item" role="listitem" th:each="pantry : ${pantries}">
        <div class="col-sm-4">
            <form action="/RJPantry/save" class="d-sm-inline-block" method="post">
                <input name="pantryId" th:value="${pantry.name}" />
                <button class="saveBtn" type="submit">Save</button>
            </form>
        </div>
    </div>


<div class="container">
    <div id="bxslider1" class="card-deck m-auto">
        <div class="card" th:each="pantry : ${pantries}">
            <div class="card-body">
                <div th:text="'Name: ' + ${pantry.name}"></div>
                <div th:text="'Quantity: ' + ${pantry.quantity}"></div>
                <div th:text="'Measurement: ' + ${pantry.measurement}"></div>
            </div>

        </div>
    </div>
</div>

</body>
</html>