<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to GRAP</title>
    <meta charset="ISO-8859-1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js%22%3E"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
  		.ui-autocomplete-loading {
    		background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
 		 }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
		$(function() {
			$("#search").autocomplete({
				source: "searchAutocomplete",
				minLength: 3
			});
		});
	</script>
</head>
<body>

<nav class="navbar navbar-light" style="background-color: black;">
    <h1>GRAP</h1>
    <form class="form-inline" action="#" th:action="@{/searchRecipes}" method="GET">
        <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search" aria-label="Search" name="searchTerm">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search </button>
    </form>
</nav><br/>

Your recipe is:

<div id="bxslider" class="card-deck1 col-xs-6" style="padding: 20px">
    <div class="card" style="max-width: 245px; max-height: 400px;" th:each="recipe : ${searchResults}">
        <div class="card-header" th:text="${recipe.label}">
        </div>
        <div class="card-body">
            <div th:text="${recipe.calories}">Calories: </div>
            <img class="image" th:src="@{${recipe.image}}">
        </div>
    </div>
</div>

<script>
	$(document).ready(function () {
		$(".image").mouseenter(function(){
			$(this).css( {"opacity":"0.8"} );
		}).mouseout(function(){
			$(this).css( {"opacity":"1.0"} );
		});
	});
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>