<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand">GRAP</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" th:unless="${uid == null}">
                <li class="nav-item active">
                    <a class="nav-link" href="/userHome/pantry">Pantry <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userHome/topics">Recipes </a>
                </li>
            </ul>
        </div>

        <!-- Login button displayed if user is NOT logged in -->
        <!--/*@thymesVar id="uid" type="String"*/-->
        <form class="form-inline" th:action="@{/userHome}" th:if="${uid == null}" method="GET">
            <button class="btn btn-secondary mr-sm-2 my-2 my-sm-0" type="submit" >Login</button>
        </form>

        <!-- Logout button displayed if user is logged in -->
        <!--/*@thymesVar id="uid" type="String"*/-->
        <form class="form-inline" th:action="@{/unset-uid}" th:unless="${uid == null}" method="GET">
            <button class="btn btn-secondary mr-sm-2 my-2 my-sm-0" type="submit" >Logout</button>
        </form>

        <form class="form-inline" action="#" th:action="@{/searchRecipes}" method="GET">
            <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search" aria-label="Search" name="searchTerm">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
<!--        <form class="form-inline" th:action="@{/search}" method="GET">-->
<!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"  name="searchTerm" id="searchTerm">-->
<!--            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>-->
<!--        </form>-->
    </nav>
</div>
</html>